
body{
    margin: 0px auto;
    background-color: black;
}
.header{
    width: 1365px;
    background-color: black;
    height: 100px;
    padding: 2px 50px;
    display: flex;
    margin: 0px auto;
    
}
.header>div>img{
    margin-top: 15px;
}
img{
    width: 160px;
    height: 80px;
    padding-left: 50px;
    
}
.menu>li{
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-left: 40px;
    display: inline-block;
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 50px;
    text-align: right;

}
.menu-box{
    height: 100%;
    margin-bottom: 40px;
    vertical-align: middle;
    margin-left: 100px;
    
  
}
.d-inline{
    display: inline-block;
} 
.btn{
    background-color: #ed1c24;
    border-radius: 35px;
    border: 1px solid #ed1c24;
    color: white;
    padding: 13px 15.5px 13px 15.5px;
    font-size: 14px;
    font-weight: 400px;
    padding-right: 10px;
    margin-left: 50px;
    text-align: right;
}
.btn1{
    background-color: #000000;
    border-radius: 25px;
    border: 1px solid #ffffff;
    color: white;
    padding: 13px 15.5px 13px 15.5px;
    font-size: 12px;
    font-weight: 400px;
    margin-left: 50px;
    text-align: right;
    
}
.container{
    width: 100%;
    display: flex;
}
.img{
    margin: 0px;
    width: 1365px;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.heading1{ 
    width: 1365px;
    height: 600px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    margin: 0px auto;
    display: flex;
}
.heading1>div>img{
    align-items: center;
}