h1{
    background-color: rgba(255, 99, 71, 0.6);
    text-align: center;
    color: white;
    padding: 40px;
    border-radius: 2px;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px black;
    margin: 0px;

}
h3{
    text-align: left;
    padding-right: 10px;
}
body{
    background-color: rgb(214, 212, 212);
    margin-bottom: 0px;

}
.box{
    background-color: rgba(255, 255, 255, 0.8);
    width: 30%;
    max-height: 700px;
    position: absolute;
    padding-left: 130px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: justify;
    margin-left: 28%;
    margin-right: 25%;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgba(130, 129, 129, 0.719);
    
}
img{
    width: 1449px;
    height: 700px;
    opacity: 1;
    
}